@model IEnumerable<Genre>

@{

    ViewData["Title"] = "List of Genres";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model=>model.GenreName)</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@Html.DisplayFor(modelItem=>item.GenreName)</td>

                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>